[submodule "fr-product-card"]
	path = fr-product-card
	url = git@github.com:soyl3y3nd4/fr-product-card.git
[submodule "02-react-app"]
	path = 02-react-app
	url = git@github.com:soyl3y3nd4/fh-react-app.git
[submodule "sb-react-pro"]
	path = sb-react-pro
	url = git@github.com:soyl3y3nd4/sb-react-pro.git
[submodule "03-sb-react-pro"]
	path = 03-sb-react-pro
	url = git@github.com:soyl3y3nd4/sb-react-pro.git
[submodule "react-calendar-frontend"]
	path = react-calendar-frontend
	url = git@github.com:soyl3y3nd4/react-pro-service-worker.git
[submodule "react-calendar-backend"]
	path = react-calendar-backend
	url = git@github.com:soyl3y3nd4/react-pro-service-worker-back.git
[submodule "maps-app"]
	path = maps-app
	url = git@github.com:soyl3y3nd4/react-pro-maps.git
[submodule "01-bases"]
	path = 01-bases
	url = git@github.com:soyl3y3nd4/react-pro-bases.git
